.header{
  &__btn{
    background-color: #18953c;
    color: #ffffff;
    @extend .fz-15;
    border-color: #18953c;
  }
  &__iconMenu{
    img{
      height: 20px;
    }
  }
  &__navM{
    &:nth-child(n+2){
      padding-left: 0;
    }
  }
  &__boxMenu{
    width: 30px;
    height: 30px;
    border: 1px solid #7d7d7d;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 56%;
    }
  }
  &__navItem{
    @include fluidx(80px,60px,min-height);
  }
  .uk-logo{
    img{
      @include fluidx(201px,160px,width);
    }
  }
  .uk-navbar-item{
    @extend .header__navItem;
  }
  .uk-navbar-nav{
    >li{
      >a{
        color: #707070;
        @extend .fz-15;
        text-transform: initial;
        @extend .header__navItem;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 30px;
      }
      &:nth-child(3){
        >a{
          padding-left: 35px;
        }
      }
    }
  }
}